{% extends 'base.html' %}
{% block  content %}


<p class="text-center">


    <nav style="background: #00C597;" class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Что-то на арабском</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- ms-auto для смещения вправо -->
        <li class="nav-item">
          <a href="/login" class="btn btn-dark me-2">Войти</a> <!-- me-2 для отступа справа -->
        </li>
        <li class="nav-item">
          <a href="/registred" class="btn btn-dark">Регистрация</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</p>
{% endblock %}