{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Библиотека БАДов</h1>

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Список</h5>
        </div>

        <div class="card-body p-0">
            {% for sup in supplements %}
            <div class="border-bottom p-3">
                <h6 class="card-title">{{ sup['name'] }}</h6>
                <p class="small text-muted mb-2">{{ sup['description'] }}</p>

                <div class="d-flex gap-2">
                    <a href="/api/{{user_id}}/library/{{ sup['id'] }}" class="btn btn-sm btn-success">Подробнее</a>
                    <form method="post" action="/api/{{user_id}}/library/{{ sup['id'] }}" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-success">Добавить</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}